#innerContainer {
    border: 1px solid #ccc;
    padding: 10px;
}

#topbar {
    border-bottom: 1px solid #C81840;
}

#topbar a.active {
    background-color: #C81840 !important;
    color: #ffffff; 
}

.policy-renewal {
    border: 1px solid #ff0000;
    border-left: 15px solid #ff0000;
}

div.policy-renewal > div.icon_section {
    width: 10%;
    float: left;
}

div.policy-renewal > div.label_section {
    width: 20%;
    float: left;
}

.loading_icon {
    text-align: center;
    z-index: 9999;
}
.loading_icon img {
    height: 80px;
}
.display_label {
    font-weight: 600;
    font-size: 14px;
}
.display_span {
    padding-left: 20px;
    font-size: 13px;
}

.marine .row {
    margin-bottom: 20px;
}

.padding-left-zero {
    padding-left: 0px;
}